*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p, h1, h2, h3, h4, h5 {
    margin: 0; 
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 60px auto;
}

.hidden {
    display: none;
}

.subtitulo {
    margin-bottom: 60px;
    font-size: 2.375rem;
    text-align: center;
    text-transform: uppercase;
}

.subtitulo::before, .subtitulo::after {
    content: "";
    width: 100px;
    height: 6px;
    background-color: currentColor;
    display: block;
    transform: skew(-20deg);
}

.subtitulo::before {
    margin: 0 calc(50% + 20px) 5px auto;
}

.subtitulo::after {
    margin: 5px auto 0 calc(50% + 20px);
}