*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p, h1, h2, h3, h4, h5 {
    margin: 0; 
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1000px;
    margin: 60px auto;
}

.hidden {
    display: none;
}