.footer {
    padding-top: 60px;
    color: #FFF;
    background-color: #000;
}

.footer img {
    margin: 0 auto;
}

.footer-infos {
    color: rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: 1.5fr repeat(2, 1fr);
    gap: 30px;
}

.footer-infos li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-infos li::before {
    content: "";
    width: 10px;
    height: 2px;
    margin-right: 10px;
    background-color: #FFF;
    display: inline-block;
}

.footer-infos h3 {
    margin: 0 0 20px 20px;
    color: #FFF;
}

.footer-menu ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
}

.footer-copy {
    padding: 20px 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
}

@media (max-width: 800px) {
    .footer-infos {
        grid-template-columns: 1fr;
    }
}