/* Vantagens */
.vantagens {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vantagens li {
    margin: 0 20px;
    padding: 5px 0 5px 35px;
    background: no-repeat center left;
}

.vantagens > li:nth-child(1) {
    background-image: url("../img/icons/frete.svg");
}

.vantagens > li:nth-child(2) {
    background-image: url("../img/icons/troca.svg");
}

.vantagens > li:nth-child(3) {
    background-image: url("../img/icons/card.svg");
}

/* Slide */
.slide-wrapper {
    padding: 30px 0;
}

.slide-item {
    color: #FFF;
    background-color: #000;
    display: grid;
    grid-template-columns: 65% 35%;
}

.slide-info {
    padding: 0 20px 40px;
    align-self: end;
}

.slide-preco {
    margin-bottom: 5px;
    font-weight: 300;
    display: block;
    opacity: 0.5;
}

.slide-nome {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 300;
}

.btn-link {
    max-width: 200px;
    padding: 15px;
    color: #000;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-link::after {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url("../img/icons/arrow.svg") no-repeat center;
}

/* Categorias */
.categorias-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.categorias-home a {
    display: grid;
}

.categorias-home > a:nth-child(1) {
    border-top: 10px solid;
}

.categorias-home > a:nth-child(2) {
    border-bottom: 10px solid;
}

.categorias-home img {
    grid-area: 1/1;
    justify-self: end;
    align-self: end;
}

.categorias-home span {
    width: 160px;
    margin: 0 40px 40px 0;
    grid-area: 1/1;
    justify-self: end;
    align-self: end;
}

.categorias-home > a:nth-child(2) span {
    margin: 0 0 30px 40px;
    justify-self: start;
}

@media (max-width: 800px) {
    .slide-item {
        grid-template-columns: 1fr;
    }

    .slide-info {
        margin-top: 20px;
    }
}