.woocommerce a {
    text-decoration: underline;
}

/* Notificação */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
    padding: 15px 20px;
    border: none;
    color: #000;
    background-color: #EEE;
}

.woocommerce-message,
.woocommerce-info {
    border-left: 4px solid olivedrab;
}

.woocommerce-error {
    border-left: 4px solid orangered;
}

.woocommerce-message::before,
.woocommerce-info::before,
.woocommerce-error::before {
    display: none;
}

/* Formulários */
.woocommerce .input-text {
    padding: 10px 15px!important;
    border: 1px solid rgba(0, 0, 0, 0.08)!important;
    border-radius: 4px!important;
    font-size: 1.125rem!important;
    background-color: rgba(0, 0, 0, 0.08)!important;
}

.woocommerce form .form-row {
    padding: 3px 0;
}

.woocommerce button.button {
    min-height: 43px!important;
    font-weight: 500!important;
    text-transform: capitalize!important;
    color: #FFF!important;
    background-color: #000!important;
}

/* Carrinho */
.woocommerce-cart #coupon_code {
    min-width: 180px;
    margin-right: 10px;
}

.woocommerce-cart a.button.alt {
    font-weight: 500;
    text-transform: capitalize;
    background-color: #06B;
}

.woocommerce-cart a.button.alt:hover {
    background-color: #18E;
}

.woocommerce-cart .cart_totals h2 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.woocommerce table.shop_table {
    border-radius: 0px;
}

/* Checkout */
.woocommerce-form-coupon-toggle {
    display: none;
}

.woocommerce .checkout h3 {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
    background-color: #111;
}

.woocommerce #order_review_heading {
    margin-top: 20px;
}

.woocommerce #payment, .woocommerce #payment div.payment_box {
    font-size: 1rem;
    color: #000;
    background-color: rgba(0, 0, 0, 0.08);
}

.woocommerce #payment #place_order {
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.25rem;
    background-color: #06B!important;
    float: none!important;
}

.woocommerce #payment #place_order:hover {
    background-color: #18E!important;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    max-width: 600px;
    padding: 0;
    border: none;
    margin: 10px 0;
}

/* PagSeguro */
.woocommerce #pagseguro-payment-form {
    border: none;
}

.woocommerce #payment div.payment_box ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

/* Minhca conta */
.woocommerce-account h2 {
    margin: 10px 0;
    font-size: 1.25rem;
}

.woocommerce-account.logged-in .woocommerce{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
}

.woocommerce-account.logged-in .woocommerce::before,
.woocommerce-account.logged-in .woocommerce::after {
    display: none;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation,
.woocommerce-account.logged-in .woocommerce-MyAccount-content {
    width: auto;
    float: none;
}

/* Estilo do side menu */
.woocommerce-MyAccount-navigation ul {
    color: #FFF;
    background-color: #111;
}

.woocommerce-MyAccount-navigation a {
    padding: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
    text-decoration: none;
    display: block;
}

.woocommerce-MyAccount-navigation a:hover,
.woocommerce-MyAccount-navigation .is-active a {
    background-color: orangered;
}

.woocommerce-MyAccount-content p {
    margin-bottom: 1rem;
}

.woocommerce-MyAccount-content button {
    margin-top: 15px!important;
}

.woocommerce .woocommerce-customer-details address {
    border-width: 1px;
    border-radius: 0px;
}

/* Pedido finalizado */
.woocommerce-order-received h2 {
    margin: 10px 0;
    font-size: 1.25rem;
}

.woocommerce-order-received .woocommerce-thankyou-order-received {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 30px;
    color: #FFF;
    background-color: #06B;
}

.woocommerce-order-received ul.order_details {
    padding: 15px;
    margin-bottom: 30px;
    background-color: #EEE;
}

.woocommerce-order-received ul.order_details li{
    margin: 10px;
}

.woocommerce-order-received ul.order_details li strong{
    font-size: 1rem;
    font-weight: 400;
}

.woocommerce-order-received ul.order_details + p{
    margin-bottom: 30px;
}

.woocommerce-page .woocommerce-message .button {
    font-weight: normal;
    color: #FFF;
    background-color: #06B;
}

.woocommerce-page .woocommerce-message .button:hover {
    background-color: #18E;
}

@media (max-width: 800px) {
    .woocommerce .woocommerce-additional-fields h3, .woocommerce #order_review_heading {
        margin-top: 30px;
    }

    .woocommerce-account.logged-in .woocommerce{
        grid-template-columns: 1fr;
    }
}